/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */
header {
    background-color: #333;
    padding: 10px 20px;
    position: relative;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-left {
    display: flex;
    align-items: center;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
    margin-left: auto; /* Push the navigation to the right side */
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  .logo {
    height: 40px;
    margin-right: 10px;
  }
  
  .company-name {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .menu-toggle {
    display: none;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1000; /* Ensure the button appears above other elements */
  }
  
  @media (max-width: 768px) {
    .nav-links {
      flex-direction: column;
      display: none;
    }
  
    .nav-right.active .nav-links {
      display: flex;
    }
  
    .nav-links li {
      margin-bottom: 10px;
      text-align: center;
    }
  
    .menu-toggle {
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
  }

/* About Section */
#about {
    padding: 60px 0;
    background-color: #f9f9f9;
    text-align: center;
}

#about h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

#about p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
    text-align: justify;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
    font-size: 1em;
}

/* Responsive Design */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        height: 35px;
    }

    #about h2 {
        font-size: 2em;
    }
}


#mission {
    padding: 60px 0;
    background-color: #e9ecef;
    text-align: center;
}

